*
{
    margin: 0px;
}

a
{
    width: 15px;
    height: 15px;
}

header nav
{
    float: right;
}

.kuca
{
    margin-left: 1480px;
    margin-top: 30px;
    position: absolute ;
    float: right;
}

.svemir2
{
    width: 1583px;
    height: 783px;
}

.skocica{
    width: 30px;
    height: 30px;
    position: absolute;  /*OBAVEZNO*/
    animation: animacija;
    animation-duration: 10s ; /*trajanje*/
    animation-timing-function: linear;
    animation-iteration-count: infinite;/*vreme beskonacno*/
}
@keyframes animacija{
    0%{ left: 0px; top: 0px;}
    10%{transition: ease-in-out; left: 800px; top: 550px;}
    30%{transition: ease-out; transform: rotateX(180deg) ; left:1100px; top:400px;}
    40%{ transition: ease-in; left: 1000px; top:600px;}
    60%{transform: rotateX(-90deg) ; left:800px ; top: 100px;}
    70%{transform:rotateY(180deg) ; left: 400px; top: 100px;}
    90%{ transform: rotateZ(90deg); left: 400px; top: 100px;}
    100%{ left: 0px; top: 0px;}
}
